# Read data

In [1]:
from warnings import filterwarnings
filterwarnings("ignore")
import pandas as mt
A = mt.read_csv("C:/Users/SHREE/Desktop/Data/50_Startups.csv")

# Preview

In [2]:
A.head()

         RND      ADMIN        MKT       STATE     PROFIT
0  165349.20  136897.80  471784.10    New York  192261.83
1  162597.70  151377.59  443898.53  California  191792.06
2  153441.51  101145.55  407934.54     Florida  191050.39
3  144372.41  118671.85  383199.62    New York  182901.99
4  142107.34   91391.77  366168.42     Florida  166187.94

# Missing data treatment

In [6]:
from important_tool import replacer
replacer(A)

# Define X and Y

In [7]:
Y = A[["PROFIT"]]
X = A.drop(labels=["PROFIT"],axis=1)

# Preprocessing

In [8]:
from important_tool import preprocessing
Xnew = preprocessing(X)

# Divide data in training and testing

In [10]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(Xnew,Y,random_state=21,test_size=0.2)

# Create Neural Network

In [19]:
from sklearn.neural_network import MLPRegressor
mlr = MLPRegressor(hidden_layer_sizes=(100,100,100),random_state=21)
nn = mlr.fit(xtrain,ytrain)

pred_tr = nn.predict(xtrain)
pred_ts = nn.predict(xtest)

from sklearn.metrics import mean_squared_error
testing_error = mean_squared_error(ytest,pred_ts)
training_error = mean_squared_error(ytrain,pred_tr)

In [20]:
testing_error

9447037834.830238

In [21]:
training_error

9849571996.170313